*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 2.7rem;
}

h2{
    font-size: 2.2rem;
}

p{
    color: dimgray;
    text-align: justify;
}

.text_highlight{
    color: #FF3886;
}

.clear{
    clear: both;
}

/* starts top section */
.top_sec{
    background: url(images/top-banner.png);
    background-repeat: no-repeat;
    height: 500px;
    margin-bottom: 20px;
}

.fifty_fifty{
    width: 40%;
    float: left;
    margin: 5%;
    padding: 1%;
}
.fifty_fifty p{
    margin-bottom: 20px;
}

.fifty_fifty img {
    width: 100%;
}

.link_btn {
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    background-image: linear-gradient(90deg, lightsalmon, tomato);
    color: white;
    border-radius: 5px;
}
/* ends top section */

/* starts mid section */
.mid_sec{
    background: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 500px;
    margin-bottom: 20px;
}
/* ends mid section */

/* starts experience section */
.experience_sec{
    height: 500px;
    margin-bottom: 20px;
    background-image: url(images/exp_bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.single_exp{
    box-shadow: 8px 8px 30px gray;
    padding-left: 30px;
    background: white;
    height: 60%;
}
#full_stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#learner{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
/* ends experience section */

/* starts footer section */
footer{
    background-color: rgb(200, 236, 236);
    padding: 40px 0;
}
.footer_half{
    width: 40%;
    float: left;
    margin: 0 5%;
}
.right{
    text-align: right;
}
.right i{
    font-size: 2rem;
    margin-left: 20px;
}
.face{
    color: #3b5998;
}
.linke{
    color: #0e76a8;
}
.inst{
    color: #8a3ab9;
}
/* endss footer section */